@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@700&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@700&family=Noto+Sans&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@700&family=Noto+Sans&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@700&family=Noto+Sans&family=Open+Sans:ital,wght@0,400;1,300;1,400;1,500&family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@700&family=Inter:wght@600&family=Noto+Sans&family=Open+Sans:ital,wght@1,500&family=Vina+Sans&display=swap");
/******************************header*****************************/


/*********************************************** CONTAINER DETAIL****/
.main2 {
  margin: 0 auto;
  width: 1200px;  
  height:1400px;
  z-index: 0;
  display: none;
  
}

.group1{
  margin:50px auto;

}

.group2{ 
  margin:80px auto;
  width: 100%;
  height:550px; 
 
}
/****************IMAGE-PRODUCT */
.imageProduct {
 
  width: 700px;
  height: 550px;
  border-radius: 20px;  
}

  


.mySlides{  
  width: 700px;
  height: 550px;
  border-radius: 20px;  
}


.prevDetail{
  position: absolute;
  top:400px;
  left:200px;
  width:52px;
  height:52px;
  font-size: 35px;  
  border-radius: 50%;
  background-color:rgb(210,210,215, 0.64) ;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
}

.nextDetail{
  position: absolute;
  top:400px;
  left:780px;
  width:52px;
  height:52px;
  font-size: 35px;  
  border-radius: 50%;
  background-color:rgb(210,210,215, 0.64) ;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
}

.infoProduct {  
  margin-top: -550px;
  margin-left: 66.5%;
  width: 400px;
  height: 550px;
  
}

.name-price {
  
  width: 100%;
  height: 100px;
}

.nameProduct {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

.priceProduct {
  
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  color: #e83a45;
}

.storage {
  
  width: 100%;
  height: 100px;
}

.titlestorage {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 41px;
}

.storage input[type="radio"] {
  display: none;
}
.storage .radioStorage {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 5px;
}
.storage input[type="radio"]:checked + .radioStorage {
  border: 1px solid #2f80ed;
  color: black;
}
.storage input[type="radio"] + .radioStorage:hover {
  transition: transform 0.2s;
  transform: scale(1.2);
}



.color {
  width: 100%;
  height: 100px;
}
.color input[type="radio"] {
  display: none;
}
.color .radioColor {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
}
.color input[type="radio"]:checked + .radioColor {
  border: 1px solid #2f80ed;
  color: black;
}
.color input[type="radio"] + .radioColor:hover {
  transition: transform 0.2s;
  transform: scale(1.2);
}

.color .radioColor img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.groupButton {
  margin-top:100px ;  
  display: flex;
  width: 100%;
  height:50px;
  gap:30px;
  align-items: center;
}

.groupButton .atcDetail{
  width:200px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px #e0e0e0;
  transition: 0.5s;
}

.groupButton .atcDetail:active{
  transform: translateY(5px);
  box-shadow: none;
}


.groupButton .iPDetail{
  width:200px;
  height: 50px;
  background-color: #d6d6d6b4;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px #ececec;
  transition: 0.5s;
}

.groupButton .iPDetail:active{
  transform: translateY(5px);
  box-shadow: none;
}






/***************************DESCRIPTION*/


.Tab{
  width:200px;
  display: flex;
  gap:20px;
  margin:0 auto;
  cursor: pointer;
}
.Tab .itemTab{
  display: none;
  border-bottom: 5px solid #e0e0e0;
  padding: 5px 5px;
}

.content{
  margin: 20px auto;
  width: 100%;
  height:700px;
  
}

.two{  
  height: 1000px;
  margin-left:200px;
}

.one{
  height: 700px;
  display: none;
  
}

.parameter{
  list-style: none;
}

.parameter li{
  padding: 10px 0;
  display: flex;
  gap: 70px;

}

.parameter li .titlePara{
  width:250px; 
  height:40px; 
  font-weight: 400;
}












